{{!< default}}
{{!-- The tag above means: insert everything in this file into the body of the default.hbs template --}}

{{> "components/header" headerStyle=@custom.header_style}}

{{#match @custom.header_style "!=" "Highlight"}}
    {{> "components/featured" showFeatured=@custom.show_featured_posts limit=8}}
{{/match}}

 {{#if @member.paid}}
{{else}}<div class="gremlin gh-canvas"><a rel="sponsored" href="https://www.awin1.com/cread.php?s=3248781&v=36614&q=448538&r=371125">
    <img src="https://www.awin1.com/cshow.php?s=3248781&v=36614&q=448538&r=371125" border="0">
</a></div>
<div><center><small>Liever geen advertenties en wel horrornieuws steunen? <u><a href="https://denachtvlinders.nl/15jaar">Upgrade hier</a></u>!</small></center><div>
{{/if}}

{{> "components/cta"}}

{{> "components/post-list" feed="home" postFeedStyle=@custom.post_feed_style showTitle=true showSidebar=@custom.show_publication_info_sidebar}}

<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "NewsMediaOrganization",
    "name": "De Nachtvlinders",
    "description": "De Nachtvlinders is een online horrormagazine met dagelijks nieuws en recensies over het horrorgenre.",
    "url": "https://denachtvlinders.nl/",
		"address": {
			"@type": "PostalAddress",
			"addressLocality": "Amsterdam, The Netherlands",
    	"postalCode": "1052 AV",
    	"streetAddress": "De Wittenstraat 18a"
		},
    "logo": "https://denachtvlinders.nl/wp-content/uploads/2017/11/vlinder.png",
    "email": "frank@denachtvlinders.nl",
    "founder": {
				"@type": "Person",
        "name": "Frank Mulder",
        "gender": "Male",
        "jobTitle": "Editor-in-Chief",
        "image": "https://frankmulder.media/wp-content/uploads/2019/02/frank-mulder.jpg",
        "sameAs": [
                        "https://denachtvlinders.nl/author/frank/",
												"https://www.linkedin.com/in/frankmuldermedia/",
												"https://frankmulder.media/",
												"https://twitter.com/mulderfrank"
        ]      
    },
    "foundingDate": "2009-11-28",
    "sameAs" : [
        "https://nl.wikipedia.org/wiki/De_Nachtvlinders",
				"https://www.linkedin.com/company/denachtvlinders/",
        "https://facebook.com/denachtvlinders",
        "https://instagram.com/denachtvlinders",
        "https://twitter.com/denachtvlinders",
        "https://www.youtube.com/user/deNachtvlinders"
    ]
    }
</script>